@model SecureWeb.Services.Values.ValuesGetDto

@{
    if (User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = $"{User.Identity.Name}'s Value Fetch";
    }
    else
    {
        ViewData["Title"] = "Generic Value Fetch";
    }
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>ValuesGetDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
